<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
    <title>Проект "Веб-сервис, который по анекдоту находит несколько анекдотов с теми же персонажами."</title>
</head>

<body>
<h1>Полина Дьяконова, НИУ ВШЭ, ФГН, БКЛ161</h1>
<form>
    <label> Введите анекдот: <input type="text" name="joke"> </label><br>
    <input type="submit" value="Найти">
</form>
    <p>
    {%for i in content%}
        {{i}}
        <br>--------------------------------
	<br>
    {%endfor%}
    </p>
</body>
</html>